.card-1 {
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: chap regular;
  border: 1px solid;
  border-radius: 40%;
}

.card-2 {
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: chap regular;
}

.price {
  color:#408cc1;
  font-size: 20px;
  font-family: chap regular;
  padding: 0px 0px 5px 0px;
}

.card-1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(72, 33, 126);
  background-color: #7db3f5;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
  /* border: 1px skyblue; */
  border-radius: 90% 90% 0% 0%;
}

.card-2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(72, 33, 126);;
  background-color: #7db3f5;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border: 1px solid;
  border-radius: 35px;
}


.card-1 button:hover {
  opacity: 0.5;
}

.card-2 button:hover {
  opacity: 0.5;
}

.modules{
  font-size: 1.5rem;
  font-family: chap;
  padding-top: 15px;
  /* background-color: #e2eeee; */
}

.purchase{
  font-size: 20px;
  font-family: chap regular;
}

.erp-modules{
  font-size: 3rem;
  text-align: center;
  font-family: chap regular;
  margin-bottom: 10px;
}
.erp{
  font-size: 2.5rem;
  text-align: center;
  font-family: chap regular;
  margin-bottom: 15px;
}
.softwares{
  font-size: 3rem;
  text-align: center;
  font-family: chap;
  margin:100px 0px 10px 0px;
}